{% load static %}
{% include 'reusable.html' %}
<title>RTO - II, Dashboard</title>
<body class="sidebar-mini layout-fixed sidebar-collapse">
<div class="wrapper">

    <!-- Navbar Starts Here -->
    {% include 'navbar.html' %}
    <!-- /.Navbar Ends Here -->
    <!-- SideBar Start Here  -->
    {% include 'sidebar.html' %}
    <!-- SideBar Ends Here  -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Regional Tax Office - II</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#" style="color:black"><i class="fa fa-home"></i></a>
                            </li>
                            <li class="breadcrumb-item active">Board Transfer</li>

                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row mb-3">
                    <div class="col-lg-3">
                        <a href="/TransferPosting">
                            <button type="button" class="btn btn-primary"> Add Transfer Posting</button>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header bg-primary">
                                        <h3 class="card-title">Employee Transfer Posting By Board</h3>

                                        <div class="card-tools">
                                            <div class="input-group input-group-sm" style="width: 150px;">
                                                <input id="tableSearch" type="text" name="table_search"
                                                       class="form-control float-right"
                                                       placeholder="Search">

                                                <div class="input-group-append">
                                                    <button type="submit" class="btn btn-default">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body table-responsive p-0">
                                        <table id="zoneTable"
                                               class="table table-head-fixed text-nowrap table table-head-fixed text-nowrap lightgallery">
                                            <thead>
                                            <tr>
                                                <th>S#</th>
                                                <th>Name</th>
                                                <th>BPS</th>
                                                <th>Designation</th>
                                                <th>From</th>
                                                <th>To</th>
                                                <th>Order #</th>
                                                <th>Order Date</th>
                                                <th>Doc</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in transfer_records %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ item.employee__Name }}</td>
                                                <td> {{ item.employee__BPS }}</td>
                                                <td>{{ item.employee__Designation }}</td>
                                                <td>{{ item.old_zone }}</td>
                                                <td>{{ item.new_zone }}</td>
                                                <td> {{ item.chief_order_number }}</td>
                                                <td>{{ item.chief_transfer_date}}</td>
                                                <td><a href="media/{{item.chief_transfer_document}}" target="_blank">
                                                    PDF
                                                </a>
                                                </td>


                                            </tr>
                                            {% endfor %}
                                            </tbody>

                                        </table>
                                        <!-- Pagination controls -->
                                        <nav aria-label="Page navigation" style="float:right">
                                            <ul class="pagination justify-content-right">
                                                {% if transfer_records.has_previous %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page=1"
                                                       aria-label="First">
                                                        <span aria-hidden="true">&laquo;&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link"
                                                       href="?page={{ transfer_records.previous_page_number }}"
                                                       aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" aria-label="First">
                                                        <span aria-hidden="true">&laquo;&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item disabled">
                                                    <a class="page-link" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                {% endif %}

                                                {% for num in transfer_records.paginator.page_range %}
                                                {% if transfer_records.number == num %}
                                                <li class="page-item active"><a class="page-link">{{ num }}</a></li>
                                                {% elif num > transfer_records.number|add:-5 and num < transfer_records.number|add:5 %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                                </li>
                                                {% endif %}
                                                {% endfor %}

                                                {% if transfer_records.has_next %}
                                                <li class="page-item">
                                                    <a class="page-link"
                                                       href="?page={{ transfer_records.next_page_number }}"
                                                       aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link"
                                                       href="?page={{ transfer_records.paginator.num_pages }}"
                                                       aria-label="Last">
                                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                                    </a>
                                                </li>
                                                {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item disabled">
                                                    <a class="page-link" aria-label="Last">
                                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                                    </a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                        </nav>

                                    </div>
                                    <!-- /.card-body -->

                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>


    </div>
    <!-- Content Wrapper. Contains page content  Ends Here -->


</div>
<!-- /.content-wrapper -->


{% include 'footer.html' %}


</body>
