<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Disposition List - RTO - II, Karachi</title>
    {% load static %}
    {% include 'reusable.html' %}
</head>
<body class="sidebar-mini layout-fixed sidebar-collapse">
<div class="wrapper">

    <!-- Navbar Starts Here -->
    {% include 'navbar.html' %}
    <!-- /.Navbar Ends Here -->

    <!-- SideBar Start Here -->
    {% include 'sidebar.html' %}
    <!-- SideBar Ends Here -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Regional Tax Office - II, Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/Dashboard" style="color:black"><i
                                    class="fa fa-home"></i></a></li>
                            <li class="breadcrumb-item active">Disposition List</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header bg-primary">
                        <div class="card-title">
                            <h5>Disposition List of Regional Tax Office - II, Karachi</h5>
                        </div>
                        <div class="card-tools">
                            <form method="GET" action="">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="search" class="form-control float-right"
                                           placeholder="Search" value="{{ request.GET.search }}">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>S#</th>
                                <th>Name</th>
                                <th>CNIC</th>
                                <th>Designation</th>
                                <th>BPS</th>
                                <th>Zone</th>
                                <th>Date of Birth</th>
                                <th>Entry into Govt</th>
                                <th>Retirement Date</th>
                                <th>Status</th>
                                {% if user.is_superuser == 1 %} <th>Actions</th> {% endif %}

                            </tr>
                            </thead>
                            <tbody>
                            {% for result in DispositionResult %}
                            <tr>
                                <td>{{ start_serial_number|add:forloop.counter0 }}</td>
                                <td>{{ result.Name }}</td>
                                <td>{{ result.CNIC_No }}</td>
                                <td>{{ result.Designation }}</td>
                                <td>{{ result.BPS }}</td>
                                <td>{{ result.ZONE }}</td>
                                <td>{{ result.Date_of_Birth }}</td>
                                <td>{{ result.Date_of_Entry_into_Govt_Service }}</td>
                                <td>{{ result.Date_of_Retirement }}</td>
                                <td>{% if result.status == 1 %} Active {% endif %}</td>
                                {% if user.is_superuser == 1 %}
                                <td><a href="AddEditDisposition?rowId={{ result.id }}&empId={{ result.Personal_No }}&userType={{ request.user.userType }}&type=edit" style="color:black;">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    {% endif %}

                                </td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <br/>

                        <!-- Pagination controls -->
                        <nav aria-label="Page navigation" style="float:right">
                            <ul class="pagination justify-content-right">
                                {% if DispositionResult.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1&search={{ request.GET.search }}"
                                       aria-label="First">
                                        <span aria-hidden="true">&laquo;&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?page={{ DispositionResult.previous_page_number }}&search={{ request.GET.search }}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="First">
                                        <span aria-hidden="true">&laquo;&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% endif %}

                                {% for num in DispositionResult.paginator.page_range %}
                                {% if DispositionResult.number == num %}
                                <li class="page-item active"><a class="page-link">{{ num }}</a></li>
                                {% elif num > DispositionResult.number|add:-5 and num < DispositionResult.number|add:5  %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ num }}&search={{ request.GET.search }}">{{ num }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}

                                {% if DispositionResult.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ DispositionResult.next_page_number }}&search={{ request.GET.search }}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ DispositionResult.paginator.num_pages }}&search={{ request.GET.search }}"
                                       aria-label="Last">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="Last">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <!-- /.card-body -->
                </div>


            </div>
        </section>
    </div>

    {% include 'footer.html' %}
</div>
</body>
</html>