<div class="row">

    <div class="col-lg-6">
        <div class="card card card-primary">
            <div class="card-header">
                <h3 class="card-title">Leave Summary Report, {{request.user.userType}} , Regional Tax Office - II</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>

            </div>
            <div class="card-body">
                <canvas id="leaveSummary" width="200" height="80"></canvas>
            </div>

        </div>


    </div>

    <div class="col-lg-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Employee Retirement Chart Zone Wise, {{request.user.userType}} , Regional Tax
                    Office - II</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>

            </div>
            <div class="card-body">
                <canvas id="retirementChart" width="200" height="80"></canvas>

            </div>
        </div>

    </div>
    <div class="col-lg-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Disposition Chart List Designation Wise, {{request.user.userType}}, Regional Tax
                    Office - II</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>

            </div>
            <div class="card-body">
                <canvas id="designationChart" width="200" height="80"></canvas>

            </div>

        </div>


    </div>


</div>


