{% load humanize %}
{% load static %}
{% include 'reusable.html' %}
<title>RTO - II, Dashboard</title>

<body class="sidebar-mini layout-fixed sidebar-collapse">
<div class="wrapper">

    <!-- Navbar Starts Here -->
    {% include 'navbar.html' %}
    <!-- /.Navbar Ends Here -->
    <!-- SideBar Start Here  -->
    {% include 'sidebar.html' %}
    <!-- SideBar Ends Here  -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Regional Tax Office - II</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#" style="color:black"><i class="fa fa-home"></i></a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <form name="tax_slab" method="post" enctype="multipart/form-data">

                {% csrf_token %}
                <div class="row">
                    <!-- Input field for yearly or monthly income -->
                    <div class="col-lg-2">
            <input type="file" name="excel_file" class="form-control" required />
                    </div>



                    <div class="col-lg-3">
                        <input type="submit" name="submit" class="form-control btn btn-primary" value="Calculate"/>
                    </div>
                </div>
            </form>
        </section>


    </div>
    <!-- Content Wrapper Ends Here -->

{% include 'footer.html' %}
</div>
<!-- /.content-wrapper -->

</body>

<script>


</script>