<style>
    html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
}

.main-footer {
    margin-top: auto;
}

.swal2-container .select2-container {
    display: none !important;
}

.error-border {
    border: 2px solid red;
}

</style>

{% load static %}
{% include 'reusable.html' %}
<title>Leave Application </title>
<body class="sidebar-mini layout-fixed sidebar-collapse">
<div class="wrapper">

    <!-- Navbar Starts Here -->
    {% include 'navbar.html' %}
    <!-- /.Navbar Ends Here -->

    <!-- SideBar Start Here  -->
    {% include 'sidebar.html' %}
    <!-- SideBar Ends Here  -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Regional Tax Office - II, Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/Dashboard" style="color:black"><i
                                    class="fa fa-home"></i></a>
                            </li>
                            <li class="breadcrumb-item active"><a href="/ManageLeaveApplication" style="color:black">Manage
                                Leave </a></li>

                            <li class="breadcrumb-item active">Leave Application</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                <form action="LeaveApplication" id="LeaveApplication" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">

                        <div class="col-lg-5">
                            <div class="card collapsed-card">
                                <div class="card-header header-elements-inline">

                                    <h5 class="card-title">Employee Leave Application</h5>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                                class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                                                class="fas fa-times"></i></button>
                                    </div>
                                </div>


                                <div class="card-body" style="display:block">

                                    <input type="hidden" name="hd_emp" value="{{empId}}" id="hd_emp">
                                    <input type="hidden" name="hd_rowId" value="{{rowId}}" id="hd_rowId">
                                    <input type="hidden" name="hd_leave_type" value="{{row.leave_type}}"
                                           id="hd_leave_type">
                                    <input type="hidden" name="hd_zone_type" value="{{row.zone_type}}"
                                           id="hd_zone_type">
                                    <div class="form-group">
                                        <label>Employee Name </label>

                                        <select class="js-example-basic-single form-control" name="emp_name"
                                                id="emp_name">
                                            <option value="" selected disabled>Select an employee</option>

                                            {% for item in data %}
                                            <option value="{{item.id}}">{{item.Name}} - ({{item.Designation}}) -
                                                {{item.ZONE}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <!-- /.form-group -->


                                    <div class="form-group">
                                        <label for="leave_type">Type of Leave:</label><br>
                                        <select id="leave_type" name="leave_type" class="form-control">
                                            <option value="" selected disabled>Select an Leave</option>
                                            <option value="Casual Leave">Casual Leave (Max 20 days)</option>
                                            <option value="Earned Leave">Earned Leave (Max 48 days)</option>
                                            <option value="Ex-Pakistan Leave">Ex-Pakistan Leave</option>
                                            <option value="Medical Leave">Medical Leave</option>
                                            <option value="Maternity Leave">Maternity Leave</option>
                                            <option value="Study Leave">Study Leave</option>
                                            <option value="Special Leave">Special Leave</option>


                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="leave_start_date">Leave Start Date:</label><br>
                                        <input type="date" id="leave_start_date" name="leave_start_date"
                                               class="form-control" value="{% if row.leave_start_date %}{{ row.leave_start_date|date:'Y-m-d' }}{% else %} {% endif %}">
                                    </div>

                                    <div class="form-group">
                                        <label for="leave_end_date">Leave End Date:</label>
                                        <input type="date" id="leave_end_date" name="leave_end_date"
                                               class="form-control" value="{% if row.leave_end_date %}{{ row.leave_end_date|date:'Y-m-d' }}{% else %} {% endif %}">


                                    </div>

                                    <div class="form-group">
                                        <label for="reason">Reason for Leave:</label>
                                        <textarea id="reason" name="reason" rows="2" cols="50" class="form-control">{% if row.reason %}{{ row.reason}}{% else %} {% endif %}</textarea>

                                    </div>

                                     {% if request.user.is_superuser == 1 %}
                                        <div class="form-group">
                                        <label for="zone_type">Zone Type:</label>
                                        <select name="zone_type" class="form-control" id="zone_type">
                                            <option value="" selected disabled>Select an zone</option>
                                            <option value="CCIR">CCIR</option>
                                            <option value="Zone-I">Zone-I</option>
                                            <option value="Zone-II">Zone-II</option>
                                            <option value="Zone-III">Zone-III</option>
                                            <option value="Zone-IV">Zone-Iv</option>
                                            <option value="Zone-V">Zone-V</option>
                                            <option value="Refund Zone">Refund Zone</option>
                                            <option value="CSO">CSO</option>
                                            <option value="IP/TFD/HRM">IP/TFD/HRM</option>

                                        </select>


                                    </div>
                                     {% endif %}

                                    <div class="form-group">
                                        <label for="leave_document">Leave Application Document:</label>
                                        <input type="file" id="leave_document" name="leave_document"
                                               class="form-control"
                                               accept=".pdf,.jpg,.jpeg,.png">

                                    </div>

                                    <div class="text-right">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <a href="" class="btn btn-default ml-2">Cancel</a>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <!-- Leave Information Table -->
                        <div class="col-lg-7">
                            <div class="card shadow-sm" style="display: none;" id="leaveInfo">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Employee Leave Application History</h5>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <input type="hidden" name="empId" id="empId" value="{{ empId }}">
                                <div class="card-body p-3">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover text-center">
                                            <thead class="thead-light">
                                            <tr>
                                                <th>Leave Type</th>
                                                <th>Availed Days</th>
                                                <th>Total Leave</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>Casual Leave</td>
                                                <td id="casualLeave_days">0</td>
                                                <td id="casualLeave">20</td>
                                            </tr>
                                            <tr>
                                                <td>Earned Leave</td>
                                                <td id="earnedLeave_days">0</td>
                                                <td id="earnedLeave">48</td>
                                            </tr>
                                            <tr>
                                                <td>Ex-Pakistan Leave</td>
                                                <td id="exPakistanLeave_days">0</td>
                                                <td id="exPakistanLeave">As per policy</td>
                                            </tr>
                                            <tr>
                                                <td>Medical Leave</td>
                                                <td id="medical_leave_days">0</td>
                                                <td id="medical_leave">As per policy</td>
                                            </tr>
                                            <tr>
                                                <td>Maternity Leave</td>
                                                <td id="maternity_leave_days">0</td>
                                                <td id="maternity_leave">As per policy</td>
                                            </tr>
                                            <tr>
                                                <td>Special Leave</td>
                                                <td id="special_leave_days">0</td>
                                                <td id="special_leave">As per policy</td>
                                            </tr>
                                            <tr>
                                                <td>Study Leave</td>
                                                <td id="study_leave_days">0</td>
                                                <td id="study_leave">As per policy</td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>

            </div>


        </section>


    </div>
    <!-- /.content-wrapper -->


    {% include 'footer.html' %}

</div>

</body>


<script>
    document.getElementById('LeaveApplication').addEventListener('submit', function(event) {
        // Get form elements
        const empName = document.getElementById('emp_name');
        const leaveType = document.getElementById('leave_type');
        const leaveStartDate = document.getElementById('leave_start_date');
        const leaveEndDate = document.getElementById('leave_end_date');
        const reason = document.getElementById('reason');
        const leaveDocument = document.getElementById('leave_document');
        const zoneType = document.getElementById('zone_type');
        let isValid = true;

        // Clear any previous error borders
        empName.classList.remove('error-border');
        leaveType.classList.remove('error-border');
        leaveStartDate.classList.remove('error-border');
        leaveEndDate.classList.remove('error-border');
        reason.classList.remove('error-border');
        leaveDocument.classList.remove('error-border');
        if (zoneType) zoneType.classList.remove('error-border');

        // Employee Name validation
        if (!empName.value) {
            empName.classList.add('error-border');
            Swal.fire({
                icon: 'error',
                title: 'Required !',
                text: 'Please select an employee!',
            });
            empName.focus();
            isValid = false;
        }

        // Leave Type validation
        if (!leaveType.value) {
            leaveType.classList.add('error-border');
            Swal.fire({
                icon: 'error',
                title: 'Required !',
                text: 'Please select a type of leave!',
            });
            leaveType.focus();
            isValid = false;
        }

        // Leave Start Date validation
        if (!leaveStartDate.value) {
            leaveStartDate.classList.add('error-border');
            Swal.fire({
                icon: 'error',
                title: 'Required !',
                text: 'Please select a start date for the leave!',
            });
            leaveStartDate.focus();
            isValid = false;
        }

        // Leave End Date validation
        if (!leaveEndDate.value) {
            leaveEndDate.classList.add('error-border');
            Swal.fire({
                icon: 'error',
                title: 'Required !',
                text: 'Please select an end date for the leave!',
            });
            leaveEndDate.focus();
            isValid = false;
        }

        // Check if End Date is after Start Date
        if (leaveStartDate.value && leaveEndDate.value && leaveEndDate.value < leaveStartDate.value) {
            leaveEndDate.classList.add('error-border');
            Swal.fire({
                icon: 'error',
                title: 'Required !',
                text: 'The end date cannot be before the start date!',
            });
            leaveEndDate.focus();
            isValid = false;
        }

        // Reason validation
        if (!reason.value.trim()) {
            reason.classList.add('error-border');
            Swal.fire({
                icon: 'error',
                title: 'Required !',
                text: 'Please provide a reason for the leave!',
            });
            reason.focus();
            isValid = false;
        }

        // Leave Document validation
        const allowedExtensions = /(\.pdf|\.jpg|\.jpeg|\.png)$/i;
        if (!leaveDocument.value) { // Check if no file is selected
            leaveDocument.classList.add('error-border');
            Swal.fire({
                icon: 'error',
                title: 'Required !',
                text: 'Please upload a leave application document!',
            });
            leaveDocument.focus();
            isValid = false;
        } else if (!allowedExtensions.exec(leaveDocument.value)) { // Validate file format if a file is selected
            leaveDocument.classList.add('error-border');
            Swal.fire({
                icon: 'error',
                title: 'Required !',
                text: 'Invalid file format. Please upload a PDF, JPG, JPEG, or PNG file!',
            });
            leaveDocument.focus();
            isValid = false;
        }

        // Zone Type validation (for superusers only)
        const isSuperuser = {{ request.user.is_superuser }};
        if (isSuperuser == 1 && !zoneType.value) {
            zoneType.classList.add('error-border');
            Swal.fire({
                icon: 'error',
                title: 'Required !',
                text: 'Please select a zone!',
            });
            zoneType.focus();
            isValid = false;
        }

        // Prevent form submission if validation fails
        if (!isValid) {
            event.preventDefault();
        }
    });
</script>

<script>
    $(document).ready(function () {
        var hd_leave_type = document.getElementById('hd_leave_type').value; // Get the hidden input value
        $('#leave_type').val(hd_leave_type).trigger('change');

        var hd_zone_type = document.getElementById('hd_zone_type').value; // Get the hidden input value
        $('#zone_type').val(hd_zone_type).trigger('change');


        var hd_emp = document.getElementById('hd_emp').value; // Get the hidden input value
        // Set the selected value and trigger select2 to update
        $('#emp_name').val(hd_emp).trigger('change');

        // Disable the select element
        if(hd_emp !=''){$('#emp_name').val(hd_emp).prop('disabled', true);}
        if(hd_zone_type !=''){$('#zone_type').val(hd_zone_type).prop('disabled', true);}

        // Initialize select2
        $('.js-example-basic-single').select2();
    });





</script>

<script>
    $(document).ready(function () {
       $("select").select2();
    });



</script>


<script>
    $(document).ready(function() {
        // Initialize Select2 on page load
        initializeSelect2();

        // Attach the change event handler for employee selection
        $('#emp_name').change(function() {
            fetchEmployeeLeaveData($(this).val());
        });

        // If a message is passed, display it using Swal
        {% if message %}
        displayAlert("{{ title }}", "{{ message }}", "{{ icon }}");
        {% endif %}

        // Set the selected employee if the hidden input has a value
        var hd_emp = $('#empId').val(); // Get the hidden input value
        if (hd_emp) {
            $('#emp_name').val(hd_emp).trigger('change'); // Set the selected value and trigger change event
        }
    });

    // Function to initialize Select2
    function initializeSelect2() {
        $('.js-example-basic-single').select2();
    }

    // Function to fetch employee leave data based on selected employee
    function fetchEmployeeLeaveData(empId) {
        if (empId) {
            $.ajax({
                url: '/get_employee_leave_data/' + empId + '/',
                method: 'GET',
                success: function(data) {
                    updateLeaveInfo(data);
                },
                error: function(xhr, status, error) {
                    console.error("An error occurred while fetching leave data:", status, error);
                }
            });
        } else {
            $('#leaveInfo').hide(); // Hide the table if no employee is selected
        }
    }

    // Function to update leave information in the DOM
    function updateLeaveInfo(data) {
        // Check if data exists and update the table
        if (data) {
            $('#casualLeave').text(data.casual_leave.count  || "");
            $('#casualLeave_days').text(data.casual_leave.days  || "");

            $('#earnedLeave').text(data.earned_leave.count || "");
            $('#earnedLeave_days').text(data.earned_leave.days || "");

            $('#exPakistanLeave').text(data.ex_pakistan_leave.count || "");
            $('#exPakistanLeave_days').text(data.ex_pakistan_leave.days || "");

            $('#medical_leave').text(data.medical_leave.count || "");
            $('#medical_leave_days').text(data.medical_leave.days || "");

            $('#maternity_leave').text(data.maternity_leave.count || "");
            $('#maternity_leave_days').text(data.maternity_leave.days || "");

            $('#special_leave').text(data.special_leave.count || "");
            $('#special_leave_days').text(data.special_leave.days || "");

            $('#study_leave').text(data.study_leave.count || "");
            $('#study_leave_days').text(data.study_leave.days || "");

            $('#leaveInfo').show(); // Show the table with updated data
        } else {
            console.warn("No data received.");
            $('#leaveInfo').hide(); // Hide the table if no data is received
        }
    }

    // Function to display an alert using SweetAlert
    function displayAlert(title, message, icon) {
        Swal.fire({
            title: title,
            text: message,
            icon: icon,
            didOpen: () => {
                setTimeout(() => {
                    // Re-initialize Select2 after the alert is shown
                    initializeSelect2();
                }, 1000);
            }
        });

    }





</script>