<style>
.pagination-container {
    display: flex;
    justify-content: flex-end; /* Align pagination controls to the right */
    padding: 10px;
}

.pagination-links {
    display: flex;
    gap: 5px; /* Space between pagination links */
}

.pagination-links a {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-decoration: none;
    color: #007bff;
}

.pagination-links a:hover {
    background-color: #f1f1f1;
    border-color: #007bff;
}

.pagination-links .disabled {
    color: #ccc;
    pointer-events: none;
}



</style>
<div class="row">

    {% if count_leave_individuals %}
        <div class="col-lg-5">
        <div class="card card-dark">
            <div class="card-header">
                <h3 class="card-title">Employee Leave Application Details Zone Wise</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" id="leave_type" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table id="tbl_leave_type"
                       class="table table-striped table-hover table-bordered table-head-fixed text-nowrap">
                    <thead class="sticky-top">
                    <tr>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>BPS</th>
                        <th>ZONE</th>
                        <th>Type</th>
                        <th>Total</th>
                        <th>Days</th>
                        <th>Docx</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for record in count_leave_individuals %}
                    <tr>
                        <td>{{ record.employee__Name }}</td>
                        <td>{{ record.employee__Designation }}</td>
                        <td>{{ record.employee__BPS }}</td>
                        <td>{{ record.employee__ZONE }}</td>
                        <td>{{ record.leave_type }}</td>
                        <td>{{ record.leave_count }}</td>
                        <td>{{ record.total_days_granted }}</td>
                         <td>
                            <a href="media/{{record.leave_document}}" target="_blank">
                                PDF
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7">No records found.</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->

            <!-- Pagination controls -->
            <div class="card-footer clearfix">
                <div class="pagination-container">
                    <!-- Pagination for Leave Application Table -->
                    <div class="pagination-links">
                        <span class="step-links">
                            {% if count_leave_individuals.has_previous %}
                                <a href="?table=leave&page=1">&laquo; First</a>
                                <a href="?table=leave&page={{ count_leave_individuals.previous_page_number }}">Previous</a>
                            {% endif %}
                        </span>

                        <span class="step-links">
                                {% if count_leave_individuals.has_next %}
                                    <a href="?table=leave&page={{ count_leave_individuals.next_page_number }}">Next</a>
                                    <a href="?table=leave&page={{ count_leave_individuals.paginator.num_pages }}">Last &raquo;</a>
                                {% endif %}
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
    {% endif %}

    {% if CountExplanationIndividuals %}
        <div class="col-lg-6">
        <div class="card card-dark">
            <div class="card-header">
                <h3 class="card-title">Employee Explanation Details Zone Wise</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" id="exp_type" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table id="tbl_exp_type"
                       class="table table-striped table-hover table-bordered table-head-fixed text-nowrap">
                    <thead class="sticky-top">
                    <tr>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>BPS</th>
                        <th>ZONE</th>
                        <th>Type</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for record in CountExplanationIndividuals %}
                    <tr>
                        <td>{{ record.employee__Name }}</td>
                        <td>{{ record.employee__Designation }}</td>
                        <td>{{ record.employee__BPS }}</td>
                        <td>{{ record.employee__ZONE }}</td>
                        <td>{{ record.exp_type }}</td>
                        <td>{{ record.exp_count }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7">No records found.</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->

            <!-- Pagination controls -->
            <div class="card-footer clearfix">
                <div class="pagination-container">
<!-- Pagination for Explanation Table -->
<div class="pagination-links">
    <span class="step-links">
        {% if CountExplanationIndividuals.has_previous %}
            <a href="?table=explanation&page=1">&laquo; First</a>
            <a href="?table=explanation&page={{ CountExplanationIndividuals.previous_page_number }}">Previous</a>
        {% endif %}
    </span>

    <span class="step-links">
        {% if CountExplanationIndividuals.has_next %}
            <a href="?table=explanation&page={{ CountExplanationIndividuals.next_page_number }}">Next</a>
            <a href="?table=explanation&page={{ CountExplanationIndividuals.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>

                </div>
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
    {% endif %}

    {% if CountTransferPostingIndividuals %}
        <div class="col-lg-7">
        <div class="card card-dark">
            <div class="card-header">
                <h3 class="card-title">Transfer Posting Summary {{request.user.userType }}</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" id="" class="form-control float-right"
                               placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table id="transfer_table"
                       class="table table-striped table-hover table-bordered table-head-fixed text-nowrap">
                    <thead class="sticky-top">
                    <tr>
                        <th>Name</th>
                        <th>CNIC</th>
                        <th>Designation</th>
                        <th>BPS</th>
                        <th>From</th>
                        <th>TO</th>
                        <th>Date</th>
                        <th>Order #</th>

                         </tr>
                    </thead>
                    <tbody>
                    {% for result in CountTransferPostingIndividuals %}
                    <tr data-toggle="tooltip" title="Name: {{ result.Name }}, Zone: {{ result.ZONE }}">
                        <td>{{ result.employee__Name }}</td>
                        <td>{{ result.employee__CNIC_No }}</td>
                        <td>{{ result.employee__Designation }}</td>
                        <td>{{ result.employee__BPS }}</td>
                        {% if request.user.is_superuser == 1 %}
                                <td>{{ result.old_zone }}</td>
                                <td>{{ result.new_zone }}</td>
                                <td>{{ result.chief_transfer_date }}</td>
                                <td>{{ result.chief_order_number }}</td>

                        {% else %}
                                <td>{{ result.old_unit }}</td>
                                <td>{{ result.new_unit }}</td>
                                <td>{{ result.zone_transfer_date }}</td>
                                <td>{{ result.zone_order_number }}</td>
                        {% endif %}

                    </tr>
                    {% endfor %}



                    </tbody>
                </table>
            </div>
            <div class="card-footer clearfix">

                <div class="pagination-container">
                    <div class="pagination-links">
                    <span class="step-links">
                        {% if retired.has_previous %}
                            <a href="?page={{ retired.previous_page_number }}">Previous</a>
                        {% else %}
                            <span class="disabled">Previous</span>
                        {% endif %}
                    </span>

                        <span class="current">
                        Page {{ retired.number }} of {{ retired.paginator.num_pages }}.
                    </span>

                        <span class="step-links">
                        {% if retired.has_next %}
                            <a href="?page={{ retired.next_page_number }}">Next</a>
                        {% else %}
                            <span class="disabled">Next</span>
                        {% endif %}
                    </span>
                    </div>
                </div>
            </div>

            <!-- /.card-body -->

        </div>
        <!-- /.card -->
    </div>
    {% endif %}

    <div class="col-lg-6">
        <div class="card card-dark">
            <div class="card-header">
                <h3 class="card-title">{{type}}</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" id="tableSearch" class="form-control float-right"
                               placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table id="zoneTable"
                       class="table table-striped table-hover table-bordered table-head-fixed text-nowrap">
                    <thead class="sticky-top">
                    <tr>
                        <th>Name</th>
                        <th>CNIC</th>
                        <th>Designation</th>
                        <th>BPS</th>
                        <th>Zone</th>
                        <th>Date of Birth</th>
<!--                        <th>Entry into Govt</th>-->
                        <th>Retirement Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if type == 'Employee Details' %}
                    <tr data-toggle="tooltip" title="Name: {{ retired.Name }}, Zone: {{ retired.ZONE }}">
                        <td>{{ retired.id }}</td>
                        <td>{{ retired.Name }}</td>
                        <td>{{ retired.CNIC_No }}</td>
                        <td>{{ retired.Designation }}</td>
                        <td>{{ retired.BPS }}</td>
                        <td>{{ retired.ZONE }}</td>
                        <td>{{ retired.Date_of_Birth }}</td>
<!--                        <td>{{ retired.Date_of_Entry_into_Govt_Service }}</td>-->
                        <td>{{ retired.Date_of_Retirement }}</td>
                    </tr>

                    {% else %}
                    {% for result in retired %}
                    <tr data-toggle="tooltip" title="Name: {{ result.Name }}, Zone: {{ result.ZONE }}">
                        <td>{{ result.Name }}</td>
                        <td>{{ result.CNIC_No }}</td>
                        <td>{{ result.Designation }}</td>
                        <td>{{ result.BPS }}</td>
                        <td>{{ result.ZONE }}</td>
                        <td>{{ result.Date_of_Birth }}</td>
<!--                        <td>{{ result.Date_of_Entry_into_Govt_Service }}</td>-->
                        <td>{{ result.Date_of_Retirement }}</td>

                    </tr>
                    {% endfor %}

                    {% endif %}


                    </tbody>
                </table>
            </div>
            <div class="card-footer clearfix">

                <div class="pagination-container">
                    <div class="pagination-links">
                    <span class="step-links">
                        {% if retired.has_previous %}
                            <a href="?page={{ retired.previous_page_number }}">Previous</a>
                        {% else %}
                            <span class="disabled">Previous</span>
                        {% endif %}
                    </span>

                        <span class="current">
                        Page {{ retired.number }} of {{ retired.paginator.num_pages }}.
                    </span>

                        <span class="step-links">
                        {% if retired.has_next %}
                            <a href="?page={{ retired.next_page_number }}">Next</a>
                        {% else %}
                            <span class="disabled">Next</span>
                        {% endif %}
                    </span>
                    </div>
                </div>
            </div>

            <!-- /.card-body -->

        </div>
        <!-- /.card -->
    </div>
</div>


