<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{type}}</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" id="tableSearch" class="form-control float-right"
                               placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table id="zoneTable" class="table table-striped table-hover table-bordered text-nowrap">
                    <thead class="sticky-top">
                    <tr>
                        <th>S#</th>
                        <th>Name</th>
                        <th>CNIC</th>
                        <th>Designation</th>
                        <th>BPS</th>
                        <th>Zone</th>
                        <th>Date of Birth</th>
                        <th>Entry into Govt</th>
                        <th>Retirement Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for result in retired %}
                    <tr data-toggle="tooltip" title="Name: {{ result.Name }}, Zone: {{ result.ZONE }}">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ result.Name }}</td>
                        <td>{{ result.CNIC_No }}</td>
                        <td>{{ result.Designation }}</td>
                        <td>{{ result.BPS }}</td>
                        <td>{{ result.ZONE }}</td>
                        <td>{{ result.Date_of_Birth }}</td>
                        <td>{{ result.Date_of_Entry_into_Govt_Service }}</td>
                        <td>{{ result.Date_of_Retirement }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- /.card-body -->

        </div>
        <!-- /.card -->
    </div>
</div>

<!-- Add the following scripts and styles -->

