{% load static %}
{% include 'reusable.html' %}
<title>RTO - II, Dashboard</title>
<head>
    <title>Posts Table</title>

</head>
<body class="sidebar-mini layout-fixed sidebar-collapse">
<div class="wrapper">

    <!-- Navbar Starts Here -->
    {% include 'navbar.html' %}
    <!-- /.Navbar Ends Here -->
    <!-- SideBar Start Here  -->
    {% include 'sidebar.html' %}
    <!-- SideBar Ends Here  -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Regional Tax Office - II</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#" style="color:black"><i class="fa fa-home"></i></a>
                            </li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                {% include 'icons.html' %}
            </div>
        </section>

        <div class="container-fluid">
            <div class="card">
                <div class="card-header bg-primary">
                    <h2 class="card-title">Sanction & Strength Regional Tax Office - II</h2>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                        {% for post in page_obj %}
                        <tr>
                            <td>{{ post.s_no }}</td>
                            <td>{{ post.name }}</td>
                            <td>BS -{{ post.bs }}</td>
                            <td>{{ post.sanctioned }}</td>
                            <td>{{ post.working }}</td>
                            <td>{{ post.vacancy }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        <thead class="table-info">
                        <tr>
                            <th>S.#</th>
                            <th>Name of Post</th>
                            <th>BS</th>
                            <th>Number of Posts Sanctioned</th>
                            <th>Number of Posts Working</th>
                            <th>Vacancy Position</th>
                        </tr>
                        </thead>
                    </table>
                                        <!-- Pagination controls -->
                    <br/>
                    <nav aria-label="Page navigation" style="float:right">
                        <ul class="pagination justify-content-right">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1" aria-label="First">
                                        <span aria-hidden="true">&laquo;&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="First">
                                        <span aria-hidden="true">&laquo;&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <li class="page-item active"><a class="page-link">{{ num }}</a></li>
                                {% elif num > page_obj.number|add:-5 and num < page_obj.number|add:5 %}
                                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="Last">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>

                </div>
            </div>
        </div>


    </div>
    <!-- Content Wrapper. Contains page content  Ends Here -->

</div>
<!-- /.content-wrapper -->

{% include 'footer.html' %}
</body>