<style xmlns="http://www.w3.org/1999/html">
    html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
}

.main-footer {
    margin-top: auto;
}


.swal2-container .select2-container {
    display: none !important;
}
</style>

{% load static %}

{% include 'reusable.html' %}

<title>Transfer Posting </title>
<body class="sidebar-mini layout-fixed sidebar-collapse">

<div class="wrapper">

    <!-- Navbar Starts Here -->
    {% include 'navbar.html' %}
    <!-- /.Navbar Ends Here -->
    <!-- SideBar Start Here  -->
    {% include 'sidebar.html' %}
    <!-- SideBar Ends Here  -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Regional Tax Office - II, Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/Dashboard" style="color:black"><i
                                    class="fa fa-home"></i></a>
                            </li>
                            <li class="breadcrumb-item active">
                                <a href="/ManageTransferPosting" style="color:black">
                                    Manage Posting </a>
                            </li>
                            {% if empId %}
                            <li class="breadcrumb-item">Edit</li>
                            {% else %}
                            <li class="breadcrumb-item">Create</li>
                            {% endif %}

                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                <form action="TransferPosting" id="transfer_posting" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row p-2">

                        <div class="col-lg-5">
                            <div class="card collapsed-card">
                                <div class="card-header header-elements-inline">

                                    <h5 class="card-title">Employee Transfer Posting</h5>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                                class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                                                class="fas fa-times"></i></button>
                                    </div>
                                </div>


                                <div class="card-body mt-0" style="display:block">
                                    <input type="hidden" name="hd_emp" value="{{empId}}" id="hd_emp">
                                    <input type="hidden" name="hd_rowId" value="{{rowId}}" id="rowId">
                                    <input type="hidden" name="hd_type" value="{{type}}" id="hd_type">

                                    <div class="form-group">
                                        <label>Employee Name {{emp_id }} </label>

                                        <select class="js-example-basic-single form-control" name="emp_name"
                                                id="emp_name">
                                            {% for item in data %}
                                            <option value="{{item.id}}">{{item.Name}} - ({{item.Designation}}) -
                                                {{item.ZONE}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <!-- /.form-group -->

                                    {% if request.user.is_superuser == 1 %}
                                    <div class="form-group">
                                        <label> Current Zone </label>
                                        <select name="old_zone" class="form-control">
                                            <option value="CCIR">CCIR</option>
                                            <option value="Zone-I">Zone-I</option>
                                            <option value="Zone-II">Zone-II</option>
                                            <option value="Zone-III">Zone-III</option>
                                            <option value="Zone-IV">Zone-Iv</option>
                                            <option value="Zone-V">Zone-V</option>

                                        </select>

                                    </div>


                                    <div class="form-group">
                                        <label>New Zone </label>
                                        <select name="new_zone" class="form-control">
                                            <option value="CCIR">CCIR</option>

                                            <option value="Zone-I">Zone-I</option>
                                            <option value="Zone-II">Zone-II</option>
                                            <option value="Zone-III">Zone-III</option>
                                            <option value="Zone-IV">Zone-Iv</option>
                                            <option value="Zone-V">Zone-V</option>

                                        </select>

                                    </div>

                                    {% endif %}

                                    {% if request.user.is_superuser == 2 %}
                                    <div class="form-group">
                                        <label> Current Unit </label>
                                        <input type="text" name="zone_prev_unit" class="form-control"
                                               value="{{row.zone_current_unit}}">

                                    </div>


                                    <div class="form-group">
                                        <label>New Unit </label>
                                        <input type="text" name="zone_new_unit" class="form-control"
                                               value="{{row.zone_new_unit}}">
                                    </div>

                                    <div class="form-group">
                                        <label>Select Range </label>
                                        <select name="range" class="form-control">
                                            <option value="A"> Range - A</option>
                                            <option value="B"> Range - B</option>

                                        </select>
                                    </div>

                                    {% endif %}


                                    <div class="form-group">
                                        <label> Order #</label>
                                        <input type="number" name="order_number" class="form-control"
                                               value="{{row.zone_order_number}}">
                                    </div>

                                    <div class="form-group">
                                        <label>Transfer Order Date</label>
                                        <input type="date" name="transfer_order_date" class="form-control"
                                               value="{{ row.zone_transfer_date|date:'Y-m-d' }}">
                                    </div>

                                    <div class="form-group">
                                        <label>Transfer Reason </label>
                                        <input type="text" name="transfer_reason" class="form-control"
                                               value="{{row.zone_transfer_reason}}">

                                    </div>

                                    <div class="form-group">
                                        <label>Order Approved By </label>
                                        <input type="text" name="order_approved_by" class="form-control"
                                               value="{{row.zone_order_approved_by}}">

                                    </div>

                                    <div class="form-group">
                                        <label>Order Image / PDF </label>
                                        <input type="file" name="image" class="form-control">

                                    </div>

                                    <div class="text-right">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <a href="" class="btn btn-default ml-2">Cancel</a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>


        </section>


    </div>
    <!-- /.content-wrapper -->


    {% include 'footer.html' %}

</div>

</body>
<script>
    $(document).ready(function () {
    var hd_emp = document.getElementById('hd_emp').value; // Get the hidden input value

    // Set the selected value and trigger select2 to update
    $('#emp_name').val(hd_emp).trigger('change');

    // Disable the select element
    if(hd_emp !=''){
        $('#emp_name').val(hd_emp).prop('disabled', true);

    }

    // Initialize select2
    $('.js-example-basic-single').select2();
});






</script>

<script>
{% if message %}
Swal.fire({
    title: "{{ title }}",
    text: "{{ message }}",
    icon: "{{ icon }}",
    didOpen: () => {
        setTimeout(() => {
            // Initialize Select2 here
            $('.js-example-basic-single').select2();
        }, 100);
    }
});
{% endif %}






</script>


