<style xmlns="http://www.w3.org/1999/html">
    html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
}

.main-footer {
    margin-top: auto;
}


.swal2-container .select2-container {
    display: none !important;
}


</style>

{% load static %}

{% include 'reusable.html' %}

<title>Transfer Posting </title>
<body class="sidebar-mini layout-fixed sidebar-collapse">

<div class="wrapper">

    <!-- Navbar Starts Here -->
    {% include 'navbar.html' %}
    <!-- /.Navbar Ends Here -->
    <!-- SideBar Start Here  -->
    {% include 'sidebar.html' %}
    <!-- SideBar Ends Here  -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Regional Tax Office - II, Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/Dashboard" style="color:black"><i
                                    class="fa fa-home"></i></a>
                            </li>
                            <li class="breadcrumb-item active">
                                <a href="/ManageTransferPosting" style="color:black">
                                    Manage Posting </a>
                            </li>
                            {% if empId %}
                            <li class="breadcrumb-item">Edit</li>
                            {% else %}
                            <li class="breadcrumb-item">Create</li>
                            {% endif %}

                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                <form action="TransferPosting" id="transfer_posting" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row p-2">

                        <div class="col-lg-5">
                            <div class="card collapsed-card">
                                <div class="card-header header-elements-inline">

                                    <h5 class="card-title">Employee Transfer Posting</h5>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                                class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                                                class="fas fa-times"></i></button>
                                    </div>
                                </div>


                                <div class="card-body mt-0" style="display:block">
                                    <input type="hidden" name="hd_emp" value="{{empId}}" id="hd_emp">
                                    <input type="hidden" name="hd_rowId" value="{{rowId}}" id="rowId">
                                    <input type="hidden" name="hd_type" value="{{type}}" id="hd_type">
                                    <input type="hidden" name="old_zone" value="{{row.old_zone}}" id="old_zone">
                                    <input type="hidden" name="new_zone" value="{{row.new_zone}}" id="new_zone">

                                    <div class="form-group">
                                        <label>Employee Name {{emp_id }} </label>

                                        <select class="js-example-basic-single form-control" name="emp_name"
                                                id="emp_name" required>
                                            <option value="" selected disabled>Select an employee</option>

                                            {% for item in data %}
                                            <option value="{{item.id}}" empZone="{{item.ZONE}}">{{item.Name}} -
                                                ({{item.Designation}}) -
                                                {{item.ZONE}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <!-- /.form-group -->

                                    {% if request.user.is_superuser == 1 %}
                                    <div class="form-group">
                                        <label> From </label>
                                        <select name="old_zone" class="form-control" id="old_zone_name" required>
                                            <option value="" selected disabled>Select an zone</option>
                                            <option value="Board">On Transfer From Board</option>
                                            <option value="CCIR">CCIR</option>
                                            <option value="CSO">CSO</option>
                                            <option value="Refund Zone">Refund Zone</option>
                                            <option value="IP/TFD/HRM">IP /TFD / HRM</option>
                                            <option value="Zone-I">Zone-I</option>
                                            <option value="Zone-II">Zone-II</option>
                                            <option value="Zone-III">Zone-III</option>
                                            <option value="Zone-IV">Zone-Iv</option>
                                            <option value="Zone-V">Zone-V</option>
                                            <option value="RTO Karachi-I">RTO Karachi - I</option>
                                            <option value="RTO Karachi-II">RTO Karachi - II</option>
                                            <option value="MTO Karachi">MTO Karachi</option>
                                            <option value="RTO Lahore">RTO Lahore</option>
                                            <option value="RTO Islamabad">RTO Islamabad</option>
                                            <option value="RTO Rawalpindi">RTO Rawalpindi</option>
                                            <option value="RTO Peshawar">RTO Peshawar</option>
                                            <option value="RTO Quetta">RTO Quetta</option>
                                            <option value="RTO Faisalabad">RTO Faisalabad</option>
                                            <option value="RTO Multan">RTO Multan</option>
                                            <option value="RTO Hyderabad">RTO Hyderabad</option>
                                            <option value="RTO Sukkur">RTO Sukkur</option>
                                            <option value="RTO Abbottabad">RTO Abbottabad</option>
                                            <option value="RTO Sialkot">RTO Sialkot</option>
                                            <option value="RTO Bahawalpur">RTO Bahawalpur</option>
                                            <option value="RTO Gujranwala">RTO Gujranwala</option>
                                            <option value="RTO Sargodha">RTO Sargodha</option>
                                            <option value="LTO Karachi">LTO Karachi</option>
                                            <option value="LTO Lahore">LTO Lahore</option>
                                            <option value="LTO Islamabad">LTO Islamabad</option>
                                            <option value="CTO Islamabad">CTO Islamabad</option>
                                            <option value="CTO Karachi">CTO Karachi</option>
                                            <option value="CTO Lahore">CTO Lahore</option>

                                        </select>

                                    </div>


                                    <div class="form-group">
                                        <label>To </label>
                                        <select name="new_zone" class="form-control" id="new_zone_name" required>
                                            <option value="" selected disabled>Select an zone</option>

                                            <option value="CCIR">CCIR</option>
                                            <option value="CSO">CSO</option>
                                            <option value="Refund Zone">Refund Zone</option>
                                            <option value="IP/TFD/HRM">IP /TFD / HRM</option>


                                            <option value="Zone-I">Zone-I</option>
                                            <option value="Zone-II">Zone-II</option>
                                            <option value="Zone-III">Zone-III</option>
                                            <option value="Zone-IV">Zone-Iv</option>
                                            <option value="Zone-V">Zone-V</option>

                                            <option value="RTO Karachi-I">RTO Karachi - I</option>
                                            <option value="RTO Karachi-II">RTO Karachi - II</option>
                                            <option value="MTO Karachi">MTO Karachi</option>
                                            <option value="RTO Lahore">RTO Lahore</option>
                                            <option value="RTO Islamabad">RTO Islamabad</option>
                                            <option value="RTO Rawalpindi">RTO Rawalpindi</option>
                                            <option value="RTO Peshawar">RTO Peshawar</option>
                                            <option value="RTO Quetta">RTO Quetta</option>
                                            <option value="RTO Faisalabad">RTO Faisalabad</option>
                                            <option value="RTO Multan">RTO Multan</option>
                                            <option value="RTO Hyderabad">RTO Hyderabad</option>
                                            <option value="RTO Sukkur">RTO Sukkur</option>
                                            <option value="RTO Abbottabad">RTO Abbottabad</option>
                                            <option value="RTO Sialkot">RTO Sialkot</option>
                                            <option value="RTO Bahawalpur">RTO Bahawalpur</option>
                                            <option value="RTO Gujranwala">RTO Gujranwala</option>
                                            <option value="RTO Sargodha">RTO Sargodha</option>
                                            <option value="LTO Karachi">LTO Karachi</option>
                                            <option value="LTO Lahore">LTO Lahore</option>
                                            <option value="LTO Islamabad">LTO Islamabad</option>
                                            <option value="CTO Islamabad">CTO Islamabad</option>
                                            <option value="CTO Karachi">CTO Karachi</option>
                                            <option value="CTO Lahore">CTO Lahore</option>

                                        </select>

                                    </div>

                                    {% endif %}

                                    {% if request.user.is_superuser == 2 %}
                                    <div class="form-group">
                                        <label> Prev Unit </label>
                                        <input type="text" name="zone_prev_unit" class="form-control"
                                               value="{{row.zone_current_unit}}" required>

                                    </div>


                                    <div class="form-group">
                                        <label>Current Unit </label>
                                        <input type="text" name="zone_new_unit" class="form-control"
                                               value="{{row.zone_new_unit}}" required>
                                    </div>

                                    <div class="form-group">
                                        <label>Select Range </label>
                                        <select name="range" class="form-control">
                                            <option value="A"> Range - A</option>
                                            <option value="B"> Range - B</option>

                                        </select>
                                    </div>

                                    {% endif %}


                                    <div class="form-group">
                                        <label> Order #</label>
                                        <input type="text" name="order_number" class="form-control"
                                               value="{% if row.zone_order_number %}{{ row.zone_order_number }}{% else %}{{ row.chief_order_number }}{% endif %}"
                                               required>
                                    </div>

                                    <div class="form-group">
                                        <label>Transfer Order Date</label>
                                        <input type="date" name="transfer_order_date" class="form-control"
                                               value="{% if row.zone_transfer_date %}{{ row.zone_transfer_date|date:'Y-m-d' }}{% else %}{{ row.chief_transfer_date|date:'Y-m-d' }}{% endif %}"
                                               required>
                                    </div>

                                    <div class="form-group">
                                        <label>Transfer Reason </label>
                                        <input type="text" name="transfer_reason" class="form-control"
                                               value="{% if row.zone_transfer_reason %}{{row.zone_transfer_reason}}{% else %}{{ row.chief_reason_for_transfer}}{% endif %}"
                                               required>

                                    </div>

                                    <div class="form-group">
                                        <label>Order Approved By </label>
                                        <select name="order_approved_by" class="form-control" id="order_approved_by">
                                            <option value="" selected disabled>Select Authority</option>
                                            <option value="Board">Board</option>
                                            <option value="ADC (HQS)">RTO - II (HQS)</option>
                                        </select>

                                        <!--                                        <input type="text" name="order_approved_by" class="form-control"-->
                                        <!--                                               value="{% if row.zone_order_approved_by %}{{row.zone_order_approved_by}}{% else %}{{ row.chief_order_approved_by}}{% endif %}" required>-->

                                    </div>

                                    <div class="form-group">
                                        <label>Order Image / PDF </label>
                                        <input type="file" name="image" class="form-control" required>

                                    </div>

                                    <div class="text-right">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <a href="" class="btn btn-default ml-2">Cancel</a>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <!-- Transfer Posting Information Table -->
                        <div class="col-lg-7">
                            <div class="card shadow-sm" id="leaveInfo">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Employee Transfer Posting History</h5>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <input type="hidden" name="empId" id="empId" value="{{ empId }}">
                                <div class="card-body p-3">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover text-center">
                                            <thead class="thead-light">
                                            <tr>
                                                <th>Previous Unit</th>
                                                <th>Current Unit</th>
                                                {% if user.is_superuser == 1 %}
                                                <th>From</th>
                                                <th>To</th>
                                                {% endif %}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td id="prev_unit">0</td>
                                                <td id="new_unit">0</td>
                                                {% if request.user.is_superuser == 1 %}
                                                <td id="old_zones"></td>
                                                <td id="new_zones"></td>
                                                {% endif %}
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>

            </div>


        </section>


    </div>
    <!-- /.content-wrapper -->


    {% include 'footer.html' %}

</div>

</body>
<script>
    $(document).ready(function () {
    var hd_emp = document.getElementById('hd_emp').value; // Get the hidden input value
    var old_zone = document.getElementById('old_zone').value; // Get the hidden input value
    var new_zone = document.getElementById('new_zone').value; // Get the hidden input value
    $('#old_zone_name').val(old_zone).trigger('change');
    $('#new_zone_name').val(new_zone).trigger('change');

    // Set the selected value and trigger select2 to update
    $('#emp_name').val(hd_emp).trigger('change');

    // Disable the select element
    if(hd_emp !=''){
        $('#emp_name').val(hd_emp).prop('disabled', true);

    }

    // Initialize select2
    $('.js-example-basic-single').select2();
});


</script>

<script>
    {% if message %}
    Swal.fire({
        title: "{{ title }}",
        text: "{{ message }}",
        icon: "{{ icon }}",
        didOpen: () => {
            setTimeout(() => {
                // Initialize Select2 here
                $('.js-example-basic-single').select2();
            }, 100);
        }
    });
    {% endif %}


</script>


<script>
    $(document).ready(function() {
        // Initialize Select2 on page load
        initializeSelect2();

        // Attach the change event handler for employee selection
        $('#emp_name').change(function() {
            var empId = $(this).val();
            var empZone = $(this).find(':selected').attr('empZone'); // Get empZone from the selected option
            $('#old_zone_name').val(empZone).trigger('change');


            if (empId) {
                fetchEmployeeUnitData(empId);
            }
        });

        // Function to initialize Select2
        function initializeSelect2() {
            $('.js-example-basic-single').select2();
        }

        // Function to fetch employee unit data
        function fetchEmployeeUnitData(empId) {
            $.ajax({
                url: '/get_employee_unit_data/' + empId + '/',
                type: 'GET',
                dataType: 'json',
                success: function(response) {
                    if (response.units) {
                        $('#prev_unit').text(response.units.previous_unit || '');
                        $('#new_unit').text(response.units.current_unit || '');
                        {% if request.user.is_superuser == 1 %}
                        $('#old_zones').text(response.zones.old_zone || '');
                        $('#new_zones').text(response.zones.new_zone || '');
                        {% endif %}
                    } else {
                        $('#prev_unit').text('');
                        $('#new_unit').text('');
                        {% if request.user.is_superuser == 1 %}
                        $('#old_zones').text('');
                        $('#new_zones').text('');
                        {% endif %}
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching employee unit data:', error);
                    $('#prev_unit').text('');
                    $('#new_unit').text('');
                    {% if user.is_superuser %}
                    $('#old_zones').text('');
                    $('#new_zones').text('');
                    {% endif %}
                }
            });
        }

        // Automatically fetch data on page load if the hidden input has a value
        var hd_emp = $('#empId').val();
        if (hd_emp) {
            fetchEmployeeUnitData(hd_emp);
        }
    });


</script>
