<style>
    html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
}

.main-footer {
    margin-top: auto;
}


</style>

{% load static %}
{% include 'reusable.html' %}
<title>Transfer Posting </title>
<body class="sidebar-mini layout-fixed sidebar-collapse">
<div class="wrapper">

    <!-- Navbar Starts Here -->
    {% include 'navbar.html' %}
    <!-- /.Navbar Ends Here -->
    <!-- SideBar Start Here  -->
    {% include 'sidebar.html' %}
    <!-- SideBar Ends Here  -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Regional Tax Office - II, Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/Dashboard" style="color:black"><i
                                    class="fa fa-home"></i></a>
                            </li>
                            <li class="breadcrumb-item active">Transfer</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                <form action="TransferPosting" id="transfer_posting" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row p-2">

                        <div class="col-lg-5">
                            <div class="card collapsed-card">
                                <div class="card-header header-elements-inline">

                                    <h5 class="card-title">Employee Transfer Posting</h5>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                                class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                                                class="fas fa-times"></i></button>
                                    </div>
                                </div>


                                <div class="card-body mt-0" style="display:block">
                                    <input type="hidden" name="hd_emp" value="" id="hd_emp">
                                    <div class="form-group">
                                        <label>Employee Name </label>

                                        <select class="js-example-basic-single form-control" name="emp_name">
                                            {% for item in data %}
                                            <option value="{{item.id}}">{{item.Name}} - ({{item.Designation}}) -
                                                {{item.ZONE}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <!-- /.form-group -->


                                    <div class="form-group">
                                        <label> Previous Zone </label>
                                        <input type="text" name="old_unit" class="form-control">

                                    </div>


                                    <div class="form-group">
                                        <label>New Zone </label>
                                        <input type="text" name="new_unit" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label> Order #</label>
                                        <input type="number" name="order_number" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label>Transfer Order Date</label>
                                        <input type="date" name="transfer_order_date" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label>Transfer Reason </label>
                                        <input type="text" name="transfer_reason" class="form-control">

                                    </div>

                                    <div class="form-group">
                                        <label>Order Approved By </label>
                                        <input type="text" name="order_approved_by" class="form-control">

                                    </div>

                                    <div class="form-group">
                                        <label>Order Image / PDF </label>
                                        <input type="file" name="image" class="form-control">

                                    </div>

                                    <div class="text-right">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <a href="" class="btn btn-default ml-2">Cancel</a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>


        </section>


    </div>
    <!-- /.content-wrapper -->


    {% include 'footer.html' %}

</div>

</body>

<script>
    {% if message %}
        const toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
        });

        toast.fire({
            icon: "{{ icon }}"
            title: " {{ title }}",

        });
    {% endif %}
</script>

    {% if message %}
    <script>
        Swal.fire({
            title: " {{ title }}",
            text: " {{ message }}",
            icon: "{{ icon }}"
        });

    </script>
    {% endif %}
<script>

    $(document).ready(function () {
    //change selectboxes to selectize mode to be searchable
       $("select").select2();
    });
</script>